html, body {
    height: 100%;
    margin: 0px;
}
   .has-danger, .text-danger{
      color: red;
    }
.container{
    
    width:100%;
    height:100vh;
   
    margin:0px;
    padding:0px;
    background-image: url("http://localhost:3001/assets/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size:cover
}

.authContainer{
    width:100%;
    height:100vh;
    margin:0px;
    padding:0px;    
    /* background-image: linear-gradient(rgba(75,160,255,.8), rgba(28,42,255,.8)); */

    font-family: 'Roboto', sans-serif;
}
.authLeftCoulmn{
float: left;
height: 100%;
width: 100%;
}

.authRightCoulmn{
    float: left;
    height: 100%;
    width: 100%;
  
  }

.appLogo{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
}

.appLogo img{ 
    width: 60%;
}
.authForm{
    width: 450px;
    height: 530px;
    background-color: #eee;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
    -moz-box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
    box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
    position: fixed;
    top: 50%;
    right: 15%;
    transform: translate(25%, -50%);   
    padding:30px;
  }

.authContent{
    padding: 3px 60px;
}
.info-red{color:red;}

.authtitle{
    width: 100%;
    font-family: Roboto;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.authtitlecont1{
    font-size: 32px;
    margin-bottom: 10px !important;
}    
.authtitlecont2{
    font-weight: 300;
    font-size: 17px;
    color:#eb5b23;
    margin-bottom: 20px !important;
   margin-top: 12px !important;

}

.loginForm{text-align: center;}

.MuiFormControl-root-98{
    width:100% !important;
}
.MuiInput-underline-120:after{ 
    border-bottom: 2px solid #f44336 !important;
}
label[data-shrink="true"]{color: #f44336 !important;}

.signupForm .inputField{
    margin-bottom: 20px;
    text-align: left;
}
.submitField{
    text-align: center !important;
}

.signupubmit{
    margin-top:20px;
    color: white;
    background: linear-gradient(90deg, #eb5b23, #f7931d);
    width: 70%;
    padding: 15px 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border-style: none;
    font-size: 1em;
    -webkit-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
    -moz-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
    box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
}
.authText{
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #767676;
    margin-top:45px;
}

.authtxt{
    color:#eb5b23;
}